<%-include('partials/header.ejs') %>

<body>
    <div id="particles-js"></div>

   <!--navegacion-->
    
   <%-include('partials/nav.ejs') %>

    <!------------->

    <main>
        <header class="container main">
            <h1>colegio nuestra señora de fatima</h1>
            <h2>campo de desarrollo sostenible</h2>
            <h2>alimentacion conciente de la literatura a la cocina</h2><hr>
        </header>
        
        <center><img id="diosito" src="img/oracion.jpg" alt="diosito"></center> 
        <section class="container etapas">
            <h2>pregunta indagadora</h2>
            <h3>¿como imaginan que es el proceso para obtener  compuestos de interes biologico de una planta y cuales son los beneficios de estas sustancias para los seres humanos?</h3>

            <h2>etapas del proyecto</h2>

             <div class="griv-etapas">
                <div class="preguntas">
                    <h3>descubro</h3>
                    <p>
                        ¿cuales son los alimentos quimicos presentes en los alimentos que se consumen a diario en mi region?
                   </p>
                </div>
                <div class="preguntas">
                    <h3>construyo<br>innovadores</h3>
                    <p>
                        Realiza una tabla en una herramienta informática donde registre los alimentos que consume en una semana e identifique los oligoelementos presentes en ellos
    
                   </p>
                </div>
                <div class="preguntas">
                    <h3>construyo<br>razonadores</h3>
                    <p>
                        Realiza una tabla en una herramienta informática donde registre los alimentos que consume en una semana e identifique los oligoelementos presentes en ellos
    
    
                   </p>
                </div>
                <div class="preguntas">
                    <h3>construyo<br>indagadores</h3>
                    <p>
                        elabora un escrito digital donde explique la importancia de consumir alimentos con un alto contenido en oligoelementos
                   </p>
                </div>
                <div class="preguntas significo">
                    <h3>significo</h3>
                    <p>
                        Diseña y construye un blog donde se plasme un menú saludable, el cual incluya los oligoelementos necesarios para mantener en equilibrio el organismo de los seres humanos
    
                   </p>
                </div>
             </div>

        </section>
        
        <section class="container oligoelementos">
             <h1>VOCABULARIO ACADEMICO</h1>
            <ul class="vocabulario-academico">
                <li>
                    Biomolécula: Son el fundamento de la vida y cumplen funciones imprescindibles para los organismos vivos. Están
                    formadas por sustancias químicas compuestas principalmente por carbono, hidrógeno, oxígeno, nitrógeno, sulfuro y
                    fósforo.
                </li>
                <li>
                    Minerales: Son los elementos naturales no orgánicos que representan entre el 4 y el 5 por ciento del peso
                    corporal del organismo y que están clasificados en macrominerales y oligoelementos.
                </li>
                <li>
                    Macroelementos: Son aquellos que el organismo necesita en cantidades más grandes. En este grupo se incluyen el
                    calcio, fósforo, magnesio, potasio, azufre, cloro y sodio.
                </li>
                <li>
                    Microelementos: Estos son aquellos elementos nutritivos que, siendo esenciales, son utilizados por las plantas
                    en cantidades relativamente bajas o muy bajas.
                </li>
                <li>
                    Oligoelementos: Son bioelementos presentes en pequeñas cantidades en los seres vivos y tanto su ausencia como su
                    exceso puede ser perjudicial para el organismo, llegando a ser hepatotóxicos.
                </li>
                <li>
                    Carbohidratos: Son biomoléculas compuestas principalmente de carbono, hidrógeno y oxígeno, aunque algunos de
                    ellos también contienen otros bioelementos tales como nitrógeno, azufre y fósforo.
                </li>
                <li>
                    Metabolismo: Es el conjunto de reacciones bioquímicas y procesos fisicoquímicos que ocurren en una célula y en
                    el organismo.
                </li>
            </ul>
            <br>
                <h1>
                    importancia de los oligoelementos
                </h1>
                <img id="vegetales" src="img/vegetales.jpg" alt="vegetales">
                <p>
                    Muy pocas veces escuchamos hablar de ellos, sin embargo, los oligoelementos son primordiales para el buen funcionamiento del organismo. Para empezar los oligoelementos son bioelementos, sustancias químicas que se encuentran en pequeñas cantidades en el cuerpo para intervenir en su metabolismo y que, además, participan en muchos procesos de nuestro organismo como, por ejemplo, la digestión, la función respiratoria y muscular o incluso la neurovegetativa.
                </p>
                   
                <p>
                    Los oligoelementos pertenecen además a la familia del mundo mineral. Mientras que los minerales convencionales se encuentran presentes en el cuerpo en grandes cantidades, estas otras sustancias son mucho más limitadas.
                </p>
                   
                <p>
                    Debido a que son necesarias para nuestro metabolismo, la carencia de estos es perjudicial para la salud.  El problema, es que nuestro cuerpo no es capaz de producirlos, aunque son esenciales para vivir sanos. Por esta razón, se habla siempre de la necesidad de llevar una dieta equilibrada en nutrientes, grasas y oligoelementos, porque ayudan a que el cuerpo refuerce el sistema inmunitario. Cuando se consumen productos procesados y artificiales, no obtenemos los nutrientes necesarios para el buen funcionamiento de las células y podemos enfermar.
                </p>
            </div>
            <div class="frecuentes">
                <h1>oligoelementos frecuentes en la alimentacion</h1>
                <table border="1px solid #ffffff">
                    <tr>
                        <th>alimentos</th>
                        <th>oligoelementos</th>
                        <th colspan="2">funcion del oligoelento</th>
                    </tr>
                    <tr>
                        <td rowspan="4">arroz</td>
                        <td>fluor</td>
                        <td>Elemento que participa a la formación de los huesos y el esmalte dental.</td>
                    </tr>
                    <tr>
                        <td>niquel</td>
                        <td>Participa en la función y producción de enzimas y hormonas, además de ser utilizado en los disturbios del hígado y el páncreas.</td>
                    </tr>
                    <tr>
                        <td>silicio</td>
                        <td>Es fundamental en la formación de todos nuestros tejidos, tanto la epidermis, como los músculos y los huesos, sobre todo en los tejidos conectivos como uñas, cartílagos y tendones, este ayuda a mantener la resistencia y fuerza de los mismos.</td>
                    </tr>
                    <tr>
                        <td>molibdeno</td>
                        <td>Es fundamental en la formación de todos nuestros tejidos, tanto la epidermis, como los músculos y los huesos, sobre todo en los tejidos conectivos como uñas, cartílagos y tendones, este ayuda a mantener la resistencia y fuerza de los mismos.</td>
                    </tr>
                    <tr>
                        <td rowspan="5">carne roja</td>
                        <td>Magneso</td>
                        <td>Tiene un efecto sobre el sistema nervioso y circulatorio. Es utilizado en los tratamientos de espasmos nerviosos y ansiedades.</td>
                    </tr>
                    <tr>
                        <td>fosforo</td>
                        <td>Primordial para el sistema nervioso, es utilizado para mejorar los estados de fatiga intelectual.</td>
                    </tr>
                    <tr>
                        <td>potacio</td>
                        <td>Ayuda a la regulación de la cantidad de agua en el organismo, además de regular el ritmo cardiaco.</td>
                    </tr>
                    <tr>
                        <td>selenio</td>
                        <td>¿Por sus propiedades antirradicales libres, es utilizada en los tratamientos anti envejecimiento. Además, tiene un rol protector del corazón, junto con algunas vitaminas.</td>
                    </tr>
                    <tr>
                        <td>hierro</td>
                        <td>Forma parte de la hemoglobina que interviene en el transporte del oxígeno por los glóbulos rojos en la sangre.</td>
                    </tr>
                    <tr>
                        <td rowspan="3">pescado</td>
                        <td>yodo</td>
                        <td>Sintetiza hormonas de la glándula tiroides, participando en la obtención de energía y en el desarrollo del cerebro.</td>
                    </tr>
                    <tr>
                        <td>cobre</td>
                        <td>Es un elemento antinflamatorio muy utilizado en el reumatismo, facilita la absorción del hierro y se puede utilizar en ciertos casos de anemias.</td>
                    </tr>
                    <tr>
                        <td>zinc</td>
                        <td>Cofactor de diferentes funciones de crecimiento, inmunidad y de la cicatrización de la piel. Sintetiza proteínas, lípidos y carbohidratos, además de ayudar al crecimiento y desarrollo del sistema nervioso central.</td>
                    </tr>
                    <tr>
                        <td rowspan="2">pollo-pavo</td>
                        <td>cromo</td>
                        <td>Activa el metabolismo de la glucosa y de las grasas, ayudando a disminuir las tasas de colesterol en la sangre.</td>
                    </tr>
                    <tr>
                        <td>fosforo</td>
                        <td>Primordial para el sistema nervioso, es utilizado para mejorar los estados de fatiga intelectual.</td>
                    </tr>
                    <tr>
                        <td rowspan="4">frijol</td>
                        <td>hierro</td>
                        <td>Forma parte de la hemoglobina que interviene en el transporte del oxígeno por los glóbulos rojos en la sangre.</td>
                    </tr>
                    <tr>
                        <td>zinc</td>
                        <td>Cofactor de diferentes funciones de crecimiento, inmunidad y de la cicatrización de la piel. Sintetiza proteínas, lípidos y carbohidratos, además de ayudar al crecimiento y desarrollo del sistema nervioso central.</td>
                    </tr>
                    <tr>
                        <td>potacio</td>
                        <td>Ayuda a la regulación de la cantidad de agua en el organismo, además de regular el ritmo cardiaco.</td>
                    </tr>
                    <tr>
                        <td>magnesio</td>
                        <td>Tiene un efecto sobre el sistema nervioso y circulatorio. Es utilizado en los tratamientos de espasmos nerviosos y ansiedades.</td>
                    </tr>
                    <tr>
                        <td rowspan="5">pastas</td>
                        <td>molibdeno</td>
                        <td>Detoxifica el hígado e interviene en la salud cerebral.</td>
                    </tr>
                    <tr>
                        <td>hierro</td>
                        <td>Forma parte de la hemoglobina que interviene en el transporte del oxígeno por los glóbulos rojos en la sangre.</td>
                    </tr>
                    <tr>
                        <td>zinc</td>
                        <td>Cofactor de diferentes funciones de crecimiento, inmunidad y de la cicatrización de la piel. Sintetiza proteínas, lípidos y carbohidratos, además de ayudar al crecimiento y desarrollo del sistema nervioso central.</td>
                    </tr>
                    <tr>
                        <td>potasio</td>
                        <td>Ayuda a la regulación de la cantidad de agua en el organismo, además de regular el ritmo cardiaco.</td>
                    </tr>
                    <tr>
                        <td>fosforo</td>
                        <td>Primordial para el sistema nervioso, es utilizado para mejorar los estados de fatiga intelectual.</td>
                    </tr>
                    <tr>
                        <td rowspan="8">brocoli</td>
                        <td>potacio</td>
                        <td>Ayuda a la regulación de la cantidad de agua en el organismo, además de regular el ritmo cardiaco.</td>
                    </tr>
                    <tr>
                        <td>calcio</td>
                        <td>Ayuda a la formación y solidez de los huesos y los dientes, contribuye a la coagulación de la sangre y a las funciones musculares. Ayuda a la prevención de la osteoporosis de las mujeres en periodo de menopausia.</td>
                    </tr>
                    <tr>
                        <td>cobre</td>
                        <td>Es un elemento antinflamatorio muy utilizado en el reumatismo, facilita la absorción del hierro y se puede utilizar en ciertos casos de anemias.</td>
                    </tr>
                    <tr>
                        <td>fosforo</td>
                        <td>Primordial para el sistema nervioso, es utilizado para mejorar los estados de fatiga intelectual.</td>
                    </tr>
                    <tr>
                        <td>zinc</td>
                        <td>Cofactor de diferentes funciones de crecimiento, inmunidad y de la cicatrización de la piel. Sintetiza proteínas, lípidos y carbohidratos, además de ayudar al crecimiento y desarrollo del sistema nervioso central</td>
                    </tr>
                    <tr>
                        <td>hierro</td>
                        <td>Forma parte de la hemoglobina que interviene en el transporte del oxígeno por los glóbulos rojos en la sangre.</td>
                    </tr>
                    <tr>
                        <td>selenio</td>
                        <td>Por sus propiedades antirradicales libres, es utilizada en los tratamientos anti envejecimiento. Además, tiene un rol protector del corazón, junto con algunas vitaminas.</td>
                    </tr>
                    <td>azufre</td>
                    <td>Regulador de las propiedades alérgicas, además de mejorar las defensas de las vías aéreas superiores contra varias infecciones</td>
                    <tr>
                        <td rowspan="5">espinaca</td>
                        <td>fosforo</td>
                        <td>Primordial para el sistema nervioso, es utilizado para mejorar los estados de fatiga intelectual.</td>
                    </tr>
                    <tr>
                        <td>magnesio</td>
                        <td>Tiene un efecto sobre el sistema nervioso y circulatorio. Es utilizado en los tratamientos de espasmos nerviosos y ansiedades.</td>
                    </tr>
                    <tr>
                        <td>potasio</td>
                        <td>Ayuda a la regulación de la cantidad de agua en el organismo, además de regular el ritmo cardiaco.</td>
                    </tr>
                    <tr>
                        <td>hierro</td>
                        <td>Forma parte de la hemoglobina que interviene en el transporte del oxígeno por los glóbulos rojos en la sangre.</td>
                    </tr>
                    <tr>
                        <td>calcio</td>
                        <td>Ayuda a la formación y solidez de los huesos y los dientes, contribuye a la coagulación de la sangre y a las funciones musculares. Ayuda a la prevención de la osteoporosis de las mujeres en periodo de menopausia.</td>
                    </tr>
                    <tr>
                        <td rowspan="8">tuca</td>
                        <td>potasio</td>
                        <td>Ayuda a la regulación de la cantidad de agua en el organismo, además de regular el ritmo cardiaco.</td>
                    </tr>
                    <tr>
                        <td>calcio</td>
                        <td>Ayuda a la formación y solidez de los huesos y los dientes, contribuye a la coagulación de la sangre y a las funciones musculares. Ayuda a la prevención de la osteoporosis de las mujeres en periodo de menopausia.</td>
                    </tr>
                    <tr>
                        <td>hierro</td>
                        <td>Forma parte de la hemoglobina que interviene en el transporte del oxígeno por los glóbulos rojos en la sangre.</td>
                    </tr>
                    <tr>
                        <td>magnesio</td>
                        <td>Tiene un efecto sobre el sistema nervioso y circulatorio. Es utilizado en los tratamientos de espasmos nerviosos y ansiedades.</td>
                    </tr>
                    <tr>
                        <td>fosforo</td>
                        <td>Primordial para el sistema nervioso, es utilizado para mejorar los estados de fatiga intelectual.</td>
                    </tr>
                    <tr>
                        <td>zinc</td>
                        <td>Cofactor de diferentes funciones de crecimiento, inmunidad y de la cicatrización de la piel. Sintetiza proteínas, lípidos y carbohidratos, además de ayudar al crecimiento y desarrollo del sistema nervioso central.</td>
                    </tr>
                    <tr>
                        <td>selenio</td>
                        <td>Por sus propiedades antirradicales libres, es utilizada en los tratamientos anti envejecimiento. Además, tiene un rol protector del corazón, junto con algunas vitaminas.</td>
                    </tr>
                    <tr>
                        <td>cobre</td>
                        <td>Es un elemento antinflamatorio muy utilizado en el reumatismo, facilita la absorción del hierro y se puede utilizar en ciertos casos de anemias.</td>
                    </tr>
                    <tr>
                        <td rowspan="4">papa</td>
                        <td>hierro</td>
                        <td>Forma parte de la hemoglobina que interviene en el transporte del oxígeno por los glóbulos rojos en la sangre.</td>
                    </tr>
                    <tr>
                        <td>potasio</td>
                        <td>Ayuda a la regulación de la cantidad de agua en el organismo, además de regular el ritmo cardiaco.</td>
                    </tr>
                    <tr>
                        <td>fosforo</td>
                        <td>Primordial para el sistema nervioso, es utilizado para mejorar los estados de fatiga intelectual.</td>
                    </tr>
                    <tr>
                        <td>magnesio</td>
                        <td>Tiene un efecto sobre el sistema nervioso y circulatorio. Es utilizado en los tratamientos de espasmos nerviosos y ansiedades.</td>
                    </tr>
                    <tr>
                        <td rowspan="4">platano</td>
                        <td>fosforo</td>
                        <td>Primordial para el sistema nervioso, es utilizado para mejorar los estados de fatiga intelectual.</td>
                    </tr>
                    <tr>
                        <td>calcio</td>
                        <td>Ayuda a la formación y solidez de los huesos y los dientes, contribuye a la coagulación de la sangre y a las funciones musculares. Ayuda a la prevención de la osteoporosis de las mujeres en periodo de menopausia.</td>
                    </tr>
                    <tr>
                        <td>zinc</td>
                        <td>Cofactor de diferentes funciones de crecimiento, inmunidad y de la cicatrización de la piel. Sintetiza proteínas, lípidos y carbohidratos, además de ayudar al crecimiento y desarrollo del sistema nervioso central.</td>
                    </tr>
                    <tr>
                        <td>magnesio</td>
                        <td>Tiene un efecto sobre el sistema nervioso y circulatorio. Es utilizado en los tratamientos de espasmos nerviosos y ansiedades.</td>
                    </tr>
                    <tr>
                        <td rowspan="2">banano</td>
                        <td>potacio</td>
                        <td>Ayuda a la regulación de la cantidad de agua en el organismo, además de regular el ritmo cardiaco.</td>
                    </tr>
                    <tr>
                        <td>magnesio</td>
                        <td>Tiene un efecto sobre el sistema nervioso y circulatorio. Es utilizado en los tratamientos de espasmos nerviosos y ansiedades.</td>
                    </tr>
                    <tr>
                        <td rowspan="3">lenteja</td>
                        <td>zinc</td>
                        <td>Cofactor de diferentes funciones de crecimiento, inmunidad y de la cicatrización de la piel. Sintetiza proteínas, lípidos y carbohidratos, además de ayudar al crecimiento y desarrollo del sistema nervioso central.</td>
                    </tr>
                    <tr>
                        <td>molibdeno</td>
                        <td>Detoxifica el hígado e interviene en la salud cerebral.</td>
                    </tr>
                    <tr>
                        <td>magnesio</td>
                        <td>Tiene un efecto sobre el sistema nervioso y circulatorio. Es utilizado en los tratamientos de espasmos nerviosos y ansiedades.</td>
                    </tr>
                </table>
            </div>
         </section>

         <section class="container saludable">
             <h1>menu saludable</h1>
            <%-include('partials/menu.ejs') %>
         </section>

         <section class="container tabla">
            <div class="tabla-oligoelementos">
                <h2>tabla de los alimentos que se consumen en una semana identificando los oligoelemtos</h2>
                <table class="tabla" border="1px solid #ffffff">
                    <tr>
                        <th colspan="4" align="center" >semana</th>
                    </tr>
                    <tr>
                        <th>dia</th>
                        <th>hora de dia</th>
                        <th>alimentos</th>
                        <th colspan="3">oligoelementos</th>
                    </tr>
                    <!--lunes-->
                    <tr>
                        <td rowspan="3">lunes</td>
                        <td>desayuno</td>
                        <td>Arepa con queso, huevo y jugo de naranja</td>
                        <td>Arepa: potasio, fosforo y magnesio Queso: Calcio, fosforo y potasio Huevo: Calcio, cobre, fosforo, molibdeno Jugo de Naranja: hierro, cobre, zinc, manganeso y bromo.  </td>
                    </tr>
                    <tr>
                        <td>almuerzo</td>
                        <td>Habichuela con carne, carne roja y plátano  </td>
                        <td>Habichuela: níquel, cobre, cobalto y calcio Carne: hierro, zinc y selenio Arroz: magnesio, níquel y molibdeno Plátano: fosforo, zinc, potasio y calcio</td>
                    </tr>
                    <tr>
                        <td>cena</td>
                        <td>Patacón con carne </td>
                        <td>Plátano: fosforo, zinc, potasio y calcio Carne: hierro, zinc y selenio</td>
                    </tr>
                    <!--martes-->
                    <tr>
                        <td rowspan="3">martes</td>
                        <td>desayuno</td>
                        <td>Huevo, pan y jugo de naranja</td>
                        <td>Huevo: Calcio, cobre, fosforo, molibdeno. Pan: calcio, hierro, fósforo, zinc, selenio y sodio. Jugo de Naranja: hierro, cobre, zinc, manganeso y bromo.  </td>
                    </tr>
                    <tr>
                        <td>almuerzo</td>
                        <td>Pollo, arroz, papa y ensalada</td>
                        <td>Pollo: zinc, cobre y cromo. Arroz: magnesio, níquel y molibdeno. Ensalada: calcio, fosforo y selenio. Papa: hierro, potasio, magnesio y fosforo</td>
                    </tr>
                    <tr>
                        <td>cena</td>
                        <td>Torta de ahuyama </td>
                        <td>Auyama: hierro y zinc</td>
                    </tr>
                    <!--miercoles-->
                    <tr>
                        <td rowspan="3">miercoles</td>
                        <td>desayuno</td>
                        <td>Hígado y chocolate</td>
                        <td>Hígado: Cromo, hierro, zinc. Chocolate: magnesio, hierro, potasio, zinc y cromo </td>
                    </tr>
                    <tr>
                        <td>almuerzo</td>
                        <td>Pollo, arroz, papa y ensalada</td>
                        <td>Pollo: zinc, cobre y cromo. Arroz: magnesio, níquel y molibdeno. Ensalada: calcio, fosforo y selenio. Papa: hierro, potasio, magnesio y fosforo</td>
                    </tr>
                    <tr>
                        <td>cena</td>
                        <td>Torta de ahuyama </td>
                        <td>Auyama: hierro y zinc</td>
                    </tr>
                    <!--juevez-->
                    <tr>
                        <td rowspan="3">juevez</td>
                        <td>desayuno</td>
                        <td>Arepa y café</td>
                        <td>Café: potasio, fosforo y calcio Arepa: potasio, fosforo y magnesio </td>
                    </tr>
                    <tr>
                        <td>almuerzo</td>
                        <td>Lentejas, arroz, ensalada y carne </td>
                        <td>Lentejas: Arroz: magnesio, níquel y molibdeno. Ensalada: calcio, fosforo y selenio Carne: hierro, zinc y selenio.</td>
                    </tr>
                    <tr>
                        <td>cena</td>
                        <td>Arroz de leche </td>
                        <td>Leche: yodo, calcio y fosforo Arroz: magnesio, níquel y molibdeno</td>
                    </tr>
                    <!--viernes-->
                    <tr>
                        <td rowspan="3">viernes</td>
                        <td>desayuno</td>
                        <td>Caldo de papa </td>
                        <td>Papa: hierro, potasio, magnesio y fosforo</td>
                    </tr>
                    <tr>
                        <td>almuerzo</td>
                        <td>Ensalada, carne y pasta </td>
                        <td>Carne: hierro, zinc y selenio Ensalada: calcio, fosforo y selenio Pasta: molibdeno y selenio</td>
                    </tr>
                    <tr>
                        <td>cena</td>
                        <td>Arroz con atún</td>
                        <td>Arroz: magnesio, níquel y molibdeno Atún: hierro, magnesio y fosforo</td>
                    </tr>
                    <!---sabado-->
                    <tr>
                        <td rowspan="3">sabado</td>
                        <td>desayuno</td>
                        <td>Ensalada de frutas </td>
                        <td>Fresa: magnesio y potasio banano: fosforo, zinc, potasio y calcio mango: zinc, potasio, selenio y cobre papaya: el calcio, el magnesio, el potasio y el fósforo melón: calcio, hierro, cobre y zinc kiwi: zinc, selenio y potasio queso: Calcio, fosforo y potasio</td>
                    </tr>
                    <tr>
                        <td>almuerzo</td>
                        <td>Frijoles, Arroz, ensalada y plátano</td>
                        <td>Arroz: magnesio, níquel y molibdeno Ensalada: calcio, fosforo y selenio Plátano: fosforo, zinc, potasio y calcio</td>
                    </tr>
                    <tr>
                        <td>cena</td>
                        <td>salchipapa</td>
                        <td>Salchicha: sodio, potasio y fósforo Papa: hierro, potasio, magnesio y fosforo</td>
                    </tr>
                    <!---domingo-->
                    <tr>
                        <td rowspan="3">domingo</td>
                        <td>desayuno</td>
                        <td>Huevo, chocolate y pan</td>
                        <td>Huevo: Calcio, cobre, fosforo, molibdeno. Pan: calcio, hierro, fósforo, zinc, selenio y sodio. Chocolate: magnesio, hierro, potasio, zinc y cromo</td>
                    </tr>
                    <tr>
                        <td>almuerzo</td>
                        <td>Arroz, ahuyama, ensalada y papa</td>
                        <td>Arroz: magnesio, níquel y molibdeno Auyama: hierro y zinc Ensalada: calcio, fosforo y selenio Papa: hierro, potasio, magnesio y fosforo</td>
                    </tr>
                    <tr>
                        <td>cena</td>
                        <td>Sándwich y jugo de mora</td>
                        <td>Pan: calcio, hierro, fósforo, zinc, selenio y sodio. Jamon: zinc, potasio, calcio y fosforo Queso: hierro, zinc, cobre, manganeso, fósforo y sodio Mora: zinc, hierro, calcio, magnesio y fosforo   </td>
                    </tr>
                </table>
            </div>
         </section>

    </main>


    <!--footer-->

    <%-include('partials/footer.ejs') %>

    <!--------->


</body>
</html>