
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/particle_custom.js"></script>
<script src="js/app.js"></script>

<footer>
    <div class="container footer">
        <h1>campo de desarrollo sostenible</h1>
        <p>por: 10°B y 10°A</p>
        <h2>by jefferson chaustre</h2>
        <h2>derechos reservados &COPY;</h2>
    </div>
    <div class="enlaces">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>