<div class="menu">
    <div>
        <h2>primeros platos</h2>
        <ul>
            <li>
                <h3>cereales</h3>
                <p>arroz: en paellas, al horno, en sopas, en ensaladas.<br>
                    pastas: con tomates, en ensalada, con atun, con verduras , al vapor</p>
            </li>
            <li>
                <h3>legumbres</h3>
                <p>lentejas, judias, garbanzos, guisantes y habas en: potajes, sopas, guisos, ensaladas</p>
            </li>
            <li>
                <h3>tuberculos y verduras</h3>
                <p>patatas: guisos, ensaladillas, tortillas, asadas...<br>verduras cocinadas/verduras crudas</p>
            </li>
        </ul>
    </div>
    <div>
        <h2>segundos platos</h2>
        <ul>
            <li>
                <h3>pescado(blanco y azul)</h3>
                <p>al horno, al papillote, a la plancha, en guisos, en fritos o rebosados, en ensaladas.</p>
            </li>
            <li>
                <h3>huevos</h3>
                <p>cocidos en ensaladas, tortillas, revueltos, fritos, rellenos...</p>
            </li>
            <li>
                <h3>carnes</h3>
                <p>avez, cerdo, ternuro, buey, cordero, conejo: a la plancha, al horno, asada, hervidas, estofadas,
                    fritas en ensalada</p>
            </li>
    </div>
    <div>
        <ul>
            <h2>guarniciones</h2>
            <li>
                <h3>ensaladas</h3>
                <p>zanahoria, lechuga, tomate, aceitunas, maiz, judias, aguacate, cebolla, espinaca, remolacha, ect.</p>
            </li>
            <li>
                <h3>patatas, cereales, legumbres...</h3>
            </li>
            <li>
                <h3>otros</h3>
                <p>verduras y hortalizas cocidas: hervidas al vapos o rebozadas</p>
            </li>
        </ul>
    </div>
    <div>
        <h2>postres</h2>
        <ul>
            <li>
                <h3>frutas</h3>
                <p>manzana, pera, platano, naranja, mandarina, albaricoque, cereza, melocoton, melon, frutos secos,
                    macedonias</p>
            </li>
            <li>
                <h3>otros</h3>
                <p>lacteos: yogurt, fresco, leche fermentada, flan, natilla, cuajada</p>
            </li>
        </ul>
    </div>
    <div>
        <h2>bebidas</h2>
        <ul>
            <li>
                <h3>agua</h3>
                <p>recordar que debemos consumir como minimo 1 litro y media(de 6-8 vasos) al dia</p>
            </li>
            <li>
                <h3>aguas con gas, bebidas refrescantes, zumos</h3>
            </li>
            <li>
                <h3>bebidas alcoholicas de baja graduacion</h3>
                <p>vino, cerveza, cava(c. ocasional y mod.)</p>
            </li>
        </ul>
    </div>
</div>
</div>