<nav>
    
    <div class="container nav">
        <ul>
            <li><a href="/">
                <img id="escudo-policia" src="img/logo_policia_nacional.png" alt="escudo">
            </a></li>
        </ul>
        <ul style="display: flex; margin-left: 20px;">
            <li><a href="/">principal<i class="fas fa-home"></i></a></li>
        
            <li><a href="/nosotros"></i>nosotros<i class="fas fa-user-friends"></i></a></i></li>
        </ul>
    </div>
</nav>